input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bg{
    background-color: var(--gray);
}

.text-color{
    color: var(--text-color);
}
input,p{
    margin-top: 10px;
}
.input-bg{
    background-color: var(--black);
    border-color: var(--gray);
}
.input-bg-green{
    background-color: var(--light-green);
}
.border-gray{
    border-color:rgb(39, 37, 37);
}


@media screen and (max-width:990px){
    .image{
        display: none;
        
    }
}

