<div class="container">
<div class="row mt-5 py-3">
    <div class="col-lg-6 p-0">
        <img src="../../../assets/gaming.ebaf.jpg" class="w-100 h-100" alt="">
    </div>
    <div class="col-lg-6 text-capitalize text-center py-5 px-3 text-color bg image">
        <h2 class="fs-3">create my account</h2>
        <div class="d-flex justify-content-center gap-2 ">
            <input type="text" placeholder="first name" class="form-control input-bg text-capitalize">
            <input type="text" placeholder="last name" class="form-control input-bg text-capitalize">
        </div>
        <input type="email" placeholder="email address" class="form-control input-bg-green text-capitalize">
        <input type="number" placeholder="age" class="form-control input-bg text-capitalize">
        <input type="password" placeholder="password" class="form-control input-bg-green text-capitalize">
        <input type="submit" value="create account" class="form-control bg text-capitalize text-light border-gray ">
        <p class="text-start small ">This site is protected by reCAPTCHA and the Google <span class="text-decoration-underline">Privacy Policy</span> and <span class="text-decoration-underline">Terms of Service</span> apply.</p>
<hr>
<p><span>Already a member?</span><a routerLink="/login">  log in></a></p>
    </div>
</div>
</div>
