.bg{
    height:45vh;
    background-image: url("../../../assets/paladins.b44d33d6e7ee1ba8.png");
    background-size: cover;
    /* background-color: black; */
    /* background-blend-mode:overlay */
    
}
.overlay{
    background-color: rgba(0, 0, 0, .4);
}  

.text-blue{
    color: #1F99DE;
}
.text-gray{
    color:var(--text-color)
}
.bg-secondary{
    background-color: var(--gray)!important;
}

.cursor-pointer{
    cursor: pointer;
}
.game{
    transition:.5s all;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -ms-transition:.5s all;
    -o-transition:.5s all;
}
.game:hover{
    transform: scaley(1.1);
    -webkit-transform: scaley(1.1);
    -moz-transform: scaley(1.1);
    -ms-transform: scaley(1.1);
    -o-transform: scaley(1.1);
}