<div class="container">
<div class="row mt-5 py-3 ">
    <div class="col-lg-6 p-0 image">
        <img src="../../../assets/gaming.ebaf.jpg" class="w-100 h-100" alt="">
    </div>
    <div class="col-lg-6 text-capitalize text-center p-5 text-color bg">
        <img src="../../../assets/logo.png" width="100" alt="">
        <h2 class="fs-4">log in to game over</h2>
        <form action="" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <input type="email" placeholder="email " class="form-control input-bg-green text-capitalize" formControlName="email">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <p class="alert alert-danger" *ngIf="loginForm.get('email')?.getError('required')" >required</p>
          <p class="alert alert-danger" *ngIf="loginForm.get('email')?.getError('email')" >must be email syntax</p>
      </div>
        <input type="password" placeholder="password" class="form-control input-bg-green text-capitalize" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <p class="alert alert-danger" *ngIf="loginForm.get('password')?.getError('required')" >required</p>
          <p class="alert alert-danger" *ngIf="loginForm.get('password')?.getError('pattern')" >must start with capital letter </p>
      </div>
        <input type="submit" value="login" class="form-control bg text-capitalize text-light border-gray ">
      </form>
<hr>
<span><a data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-blue cursor-pointer">forget password?</a></span>
<p><span>not a member yet?</span><a routerLink="/register">  create account></a></p>
    </div>
</div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark text-capitalize" id="exampleModalLabel">make new account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p class="text-dark text-end"> ههه اعمل أكونت جديد</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary text-capitalize" data-bs-dismiss="modal">ok</button>
          
        </div>
      </div>
    </div>
  </div>
